/* Copyright European Organization for Nuclear Research (CERN)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * You may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Authors:
 * - Mario Lassnig, <mario.lassnig@cern.ch>, 2014
 * - Thomas Beermann, <thomas.beermann@cern.ch>, 2014-2015
 */

html,body {
    height:100%;
}

/* trick for sticky footer. Found here: http://www.cssstickyfooter.com */
#wrap {
    min-height: 100%;
}

div.top-subbar {
    background-color: #dddddd;
    font-size: small;
    overflow:hidden;
}

#content {
    overflow:auto;
    padding-bottom: 24px;
}

footer {
    background-color: #dddddd;
    font-size: small;
    position: relative;
    margin-top: -24px;
    clear: both;
    min-height: 24px;
}

.row {
    min-width: 100%;
    height: 100%;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

td.details-control {
    background: url('/media/get_info.png') no-repeat center center;
    cursor: pointer;
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
